
<div class="col-md-6">
  <h2>Cliente</h2>
  <seccion>
    <div class="panel">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Nombre:</strong>
        {{customeridCtrl.customer.name}}
      </li>
      <li class="list-group-item">
        <strong>Dirección:</strong>
        {{customeridCtrl.customer.address}}
      </li>
      <li class="list-group-item">
        <strong>Provincia:</strong>
        {{customeridCtrl.customer.town}}
      </li>
        <li class="list-group-item">
        <strong>Ciudad:</strong>
        {{customeridCtrl.customer.city}}
      </li>
      <li class="list-group-item">
        <strong>País:</strong>
        {{customeridCtrl.customer.country}}
      </li>
      <li class="list-group-item">
        <strong>Código Postal:</strong>
        {{customeridCtrl.customer.zip_code}}
      </li>
      <li class="list-group-item">
        <strong>cif:</strong>
        {{customeridCtrl.customer.cif}}
      </li>
      <li class="list-group-item">
        <strong>Email:</strong>
        {{customeridCtrl.customer.email}}
      </li>
      <li class="list-group-item">
        <strong>Teléfono:</strong>
        {{customeridCtrl.customer.phone}}
      </li>
    </ul>
  </div>
</seccion>
<button class="btn btn-info" ui-sref="customers">Atras</buttom>
<button type="button" class="btn btn-primary" ng-click="customeridCtrl.on()">Editar</button>
</div>

<div class="col-md-6">
<form-customer ctrldatos="customeridCtrl" cabecera="'Editar Cliente'" ng-show="customeridCtrl.mostrar"></form-customer>
</div>



