  <div>
  	<table class="table">
    <caption>Listado de clientes</caption>
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Email</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customer in customerCtrl.customers">
        <td class="nav nav-pills"><a ui-sref="customer({id: customer.id})">{{customer.name}}</a><td>
        <td>{{customer.email}}</td>
        <td><a ng-click="customerCtrl.removeCustomer(customer)">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-default">Crear Cliente</button>

</div>