<div class="panel row">
  
  <form name="customerForm" ng-show="customerFormCtrl.mostrar" ng-submit="customerFormCtrl.addCustomer(customerCtrl.customers)">
    <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.name }">
      <label for="customerName">Nombre</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.name"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.name">
        {{customerFormCtrl.errors.name.join(', ')}};
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.address }">
      <label for="customerName">Dirección</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.address"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.address">
        {{customerFormCtrl.errors.address.join(', ')}};
    </div>
    <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.town }">
      <label for="customerName">Provincia</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.town"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.town">
        {{customerFormCtrl.errors.town.join(', ')}};
    </div>
    <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.city }">
      <label for="customerName">Ciudad</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.city"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.city">
        {{customerFormCtrl.errors.city.join(', ')}};
    </div>
    <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.country }">
      <label for="customerName">País</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.country"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.country">
        {{customerFormCtrl.errors.country.join(', ')}};</div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.zip_code }">
      <label for="customerName">Código Postal</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.zip_code"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.zip_code">
        {{customerFormCtrl.errors.zip_code.join(', ')}};</div>
    </div>
     <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.cif }">
      <label for="customerName">CIF</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.cif"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.cif">
        {{customerFormCtrl.errors.cif.join(', ')}};</div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.email }">
      <label for="customerName">Email</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.email"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.email">
        {{customerFormCtrl.errors.email.join(', ')}};</div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : customerFormCtrl.errors.phone }">
      <label for="customerName">Teléfono</label>
      <input type="text" ng-model="customerFormCtrl.newCustomer.phone"class="form-control">
      <div class="alert alert-danger"ng-show ="customerFormCtrl.errors.phone">
        {{customerFormCtrl.errors.phone.join(', ')}};</div>
    </div>
    
    <div class="form-group">
      <input type="submit" value="Crear" class="btn btn-primary">
    </div>
  </form>
</div>